.App {
    margin: 1% 2% 0 2%;
    padding: 10px;
    border-radius: 20px;
    background-color: #FB1B1B;
    box-shadow: 0 9px #000000;
    display: grid;
    grid-template-columns: 50% 49%;
    grid-template-areas: 
        'viewer list'
        'team list'
        'db-management spare';
    gap: 10px;
}