.PokemonList {
    grid-area: list;
}

.page-container {
    padding: 10px;
    background-color: #A8C64E;
    border-radius: 20px;
    border-color:slategray;
    border-style: inset;
    border-width: 5px;
}

.nav-control-container{
    background-color:antiquewhite;
    border-radius: 20px;
    margin-top: 10px;
    border: solid;
    border-color:slategray;
    border-width: 5px;
    border-style: inset;
    display: grid;
    grid-template-columns: auto auto auto;
}

.nav-button {
    margin: 3px;
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
}

.nav-button img {
    border-radius: 50%;
    box-shadow: 0 3px #999;
}

.nav-button:active {
    transform: translateY(4px);
}

.nav-button:active img {
    box-shadow: 0 1px #999;
}

.page-info {
    text-align: center;
    border: solid;
    border-radius: 10px;
    border-color: #6f8334;
    background-color: #A8C64E;
    margin: 5px 0 5px 0;
}

#page-table {
    table-layout: fixed;
    width: 100%;
}