td {
    text-align: center;
}

.thumbnail-button {
    border: solid;
    border-radius: 20px;
    cursor: pointer;
    appearance: none;
    background-color: #EFFCD5;
    box-shadow: 3px 3px 1px #855AC9;
}

.thumbnail-info {
    border: solid;
    border-radius: 5px;
    border-width: 2px;
}